name: Build multi-arch Docker Image

on:
  push:
    branches: [master]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v2
    - name: Set up Docker Buildx
      id: buildx
      uses: docker/setup-buildx-action@v2

    - name: Docker info
      run: docker info
    - name: Buildx inspect
      run: docker buildx inspect

    - name: Build image
      uses: docker/build-push-action@v3
      with:
        context: .
        file: ./Dockerfile
        platforms: linux/amd64,linux/arm/v7,linux/arm64,linux/ppc64le,linux/s390x
        push: false
        # Use a 'temp' tag, that won't be pushed, for non-release builds
        tags: testcontainers/vnc-recorder:${{ github.event.release.tag_name || 'temp' }}
